Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

Ans 1:
    query-> select substring(FIRST_NAME,1,3) from Worker;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

Ans 2:
    query-> Select INSTR(FIRST_NAME, BINARY'a') from Worker where FIRST_NAME = 'Amitabh';

Q-3. Write an SQL query to print the name of employees having the highest salary in each
department.

Ans 3:
    query-> Select  DeptName, MAX(Salary) FROM EmpDetails GROUP BY DeptName;