Q-17. Write an SQL query to show the top n (say 10) records of a table.

In [ ]:
Ans :
    query-> select * from Worker limit 10;

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

In [ ]:
Ans :
    query-> select * from Worker ORDER BY sal desc limit 5,1;