Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
Ans 1:
    query-> select * from Workers where joined in ('Feb'2014')

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of
a table.

In [ ]:
Ans 2:
    query-> SELECT dept_id, COUNT(dept_id) FROM student GROUP BY dept_id HAVING COUNT(dept_id)>1;

Q-3. How to remove duplicate rows from Employees table.

In [ ]:
Ans 3:
    query-> delete from Employees  where empid in(select empid from Employees group by empid having  count(*) >1)