Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

In [ ]:
Ans :
    SELECT * FROM Employee Emp1
    WHERE (5-1) = (SELECT COUNT(DISTINCT(Emp2.Salary))
    FROM Employee Emp2
    WHERE Emp2.Salary > Emp1.Salary)

Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
Ans :
    SELECT NAME,SALARY  FROM DATATAB
        WHERE SALARY IN 
        (
           SELECT Salary
           FROM datatab
           GROUP BY Salary
           HAVING COUNT(1) > 1
        );