Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

In [ ]:
Ans 1:
    query->Select TRIM(FIRST_NAME) from Worker;

Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

In [ ]:
Ans 2:
    query->select distinct(DEPARTMENT),char_length(DEPARTMENT) from Worker group by DEPARTMENT;

Q-3. Write an SQL query to fetch nth max salaries from a table.

In [ ]:
Ans 3:
    query-> select * from Worker ORDER BY sal desc limit 5,1;