Q-1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

In [ ]:
Ans 1:
    query-> Select  replace(gender, 'a', 'A') from cardo

Q-2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
Ans 2:
    query->select * from employees z 
                order by z.job_name asc, 
                    z.emp_id desc ;

Q-3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:
Ans 3:
    query-> select name, max(salary) from employee