Q-13. Write an SQL query to show only odd rows from aÂ table.

In [ ]:
Ans :
    query-> select * from Worker where mod(empID,2)!=0;

Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
Ans :
    query-> CREATE TABLE SubWorker LIKE Worker;
            INSERT INTO SubWorker SELECT * FROM Worker;